.title {
    text-align: center;
    
}

html {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}


button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #000a47;
    line-height: 1.15;
    font-size: 16px;
}

.answer {
    margin: 10px auto;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}

.answer:hover {
    background-color: lightgray;
}

.sub-title {
    text-align: center;
}

.result-container {
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.buttons {
    text-align: center;
}

.instructions {
    font-size: larger;
}

.green {
    background-color: green;
}

