<script>
    const one = (() => {
        console.log(1);
    return {
        test: 'this is visible'
    }
    })();

    const two = (function () {
        console.log(2);
        const test = 'this is not visible'
    })();


    ((value) => {
        console.log(value);
    })(3);
</script>

<a href="reset-global.html">NAVIGATE TO NEW PAGE</a>